body.paged, body.archive  {
  section.first-posts {
    display: none !important;
  }
  section.container-posts {
    section.post {
      display: block !important;
    }
  }
}



main.main-container {
  font-size: 0;
  section.title-archive {
    margin-bottom: gratio(6);
    h2 {
      font-size: gratio(5);
      span.marker {
        position: relative;
        z-index: 1;
        &:before {
          z-index: - 1;
          content: "";
          width: 100%;
          position: absolute;
          display: inline-block;
          background: rgba(tint(yellow), 1);
          height: gratio(5);
        }
      }
    }
  }
  section.first-posts {
    @include inline-block(33.33%, top);
    @include respond-to(small medium) {
      background-color: #ff0;
      @include inline-block(100%, top);
      height:gratio(8);
      margin-bottom: 0;
      &:first-child {
        margin-top: gratio(4);
      }
      &:nth-child(3){
        margin-bottom: gratio(6) !important;
      }
    }
    height: gratio(10);
    margin-bottom: gratio(7);
    position: relative;
    overflow: hidden;
    h1 {
      @include z-index(first-level);
      padding: gratio(3);
      position: relative;
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(black, 0.7) 100%);
      top: 0;
      left: 0;
      transition: 0.2s ease;
      &:hover {
        background-image: linear-gradient(-180deg, rgba(46, 201, 200, 0.00) 0%, rgba(tint(pomegranate), 0.9) 100%);
      }
      a {
        height: 100%;
        width: 100%;
        position: absolute;
        padding-right: 30%;
        bottom: gratio(3);
        span {
          @include textShadow();
          position: absolute;
          padding-right: 30%;
          bottom: 0;
          text-transform: uppercase;
          color: white;
          font-size: gratio(5);
          @include respond-to(small medium) {
            font-size: gratio(4);
          }
        }
      }
    }
    img {
      @include centerer-absolute(true, true);
      @include z-index(underground);
      width: auto;
      height: 130%;
      @include respond-to(small medium) {
        @include centerer-absolute(true, true);
        width: auto;
        height: auto;
      }
    }
  }
  section.container-posts {
    @include inline-block(66.66%, top);
    section.post {
      width: 100%;
      position: relative;
      font-size: 0;
      border-bottom: 1px solid rgba(black, 0.1);
      margin-bottom: gratio(5);
      padding-bottom: gratio(5);
      &:nth-child(-n+3) {
        display: none;
      }
      &:last-child {
        border-bottom: 0;
      }
      .content {
        @include inline-block(70%, top);
        padding-right: gratio(6);
        h1 {
          font-size: gratio(3);
          text-transform: uppercase;
          margin-bottom: gratio(2);
          @include respond-to(small medium) {
            margin-bottom: 0;
          }
          a {
            color: black;
            display: block;
            transition: 0.1s ease;
            &:hover {
              color: tint(pomegranate);
            }
          }
        }
        .featured-image-mobile {
          display: none;
        @include respond-to(small medium) {
          width: 100%;
          display: inline-block;
          position: relative;
          overflow: hidden;
          height: gratio(9);
          margin: gratio(3) 0;
          img {
            height: auto;
            width: 100%;
          }
        }
      }
        @include respond-to(small medium) {
          padding: 0;

        }
        .excerpt {
          font-size: gratio(3);
          color: rgba(black, 0.6);
          margin-bottom: gratio(3);
        }
        .meta {
          font-size: 0;
          .author {
            font-size: gratio(3);
            margin-bottom: gratio(1);
            @include respond-to(small medium) {
                width: 30%;
                display: inline-block;
            }
          }
          .date-category {
            span {
              @include inline-block(30%, top);
              font-size: gratio(3);
              color: rgba(black, 0.6);
              text-transform: capitalize;
              @include respond-to(small medium) {
                width: 100%;
                display: block;
                margin-bottom: gratio(1);
              }
            }
            img {
              @include inline-block(gratio(4), top);
              opacity: 0.3;
            }
            .post-categories { 
              @include inline-block(60%, top);
              li {
                padding-left: gratio(1);
                display: inline-block !important;
                a {
                  font-size: gratio(3);
                  color: rgba(black, 0.6);
                  &:after {
                    content: ", ";
                  }
                }
                &:last-child {
                  a {
                    &:after {
                      content: "";
                    }
                  }
                }
              }
              @include respond-to(small medium) {
                width: 90%;
                display: inline-block;
              }
            }
            @include respond-to(small medium) {
                width: 100%;
                display: inline-block;

            }
          }
        }
        .categories {
          a {
            font-size: gratio(3);
          }
        }
        @include respond-to(small medium) {
          position: relative;
          //margin-top: 300px;
          width: 100%;
          //clear: both;
          //float: right;
        }
      }
      .featured-image {
        @include inline-block(30%, top);
        height: gratio(9);
        overflow: hidden;
        position: relative;
        text-align: center;
        img {
          // @include centerer-absolute(true, false);
          width: auto;
          height: 100%;
        }
        @include respond-to(small medium) {
          //position: absolute;
          //margin-top: -520px;
          display: none !important;
          //clear: both;
          //float: left;
          /*img {
            height: auto;
          }*/
        }
      }
    }
    @include respond-to(small medium) {
          width: 100%;
    }
  }
  section.pagination {
    span.divisor {
      display: inline-block;
      margin: 0 gratio(3);
    }
    .nav-previous {
      /*background-color: rgba(gray, 0.1);
      border: 1px solid rgba(gray, 0.5);
      border-top-right-radius: gratio(4);
      border-bottom-right-radius: gratio(4);
      border-left: none;
      padding: gratio(2);*/
      &.alignright {
        float: right;
      }
      a {
      font-size: gratio(3);
      //font-weight: 600;
      font-family: 'Gilroy-regular';
      //text-transform: uppercase;
      color: rgba(color(grey-dark), 0.9);
      div.arrow-prev {
        background-color: rgba(gray, 0.1);
        padding: gratio(1) gratio(2);
      }
      }
    }
    .nav-next {
      /*background-color: rgba(gray, 0.1);
      border: 1px solid rgba(gray, 0.5);
      border-top-left-radius: gratio(4);
      border-bottom-left-radius: gratio(4);
      border-right: none;
      padding: gratio(2);*/
      &.alignleft {
        float: left;
      }
      a {
      font-size: gratio(3);
      font-weight: 600;
      font-family: 'Gilroy-regular';
      //text-transform: uppercase;
      color: rgba(color(grey-dark), 0.9);
      div.arrow-next {
        background-color: rgba(gray, 0.1);
        padding: gratio(1) gratio(2);
      }
      }
    }
  }
  @include respond-to(small medium) {
    margin-bottom: gratio(7) !important;
  }
}