body.paged,
body.archive {
  .container-first-posts {
    display: none;
  }
  section.first-posts {
    display: none !important;
  }
  section.container-posts {
    section.post {
      display: block !important;
    }
  }
}

main.main-container {
  font-size: 0;
  nav.featured-categories {
    margin-bottom: gratio(3);
    border-bottom: gratio(1) solid tint(purple-dark);
    a {
      @include button(rgba(tint(purple-dark), 0), black);
      display: inline-block;
      font-size: gratio(3);
      text-transform: uppercase;
      color: black;
      border-radius: 0;
      transition: 0.1s ease;
      text-shadow: none;
      &:hover {
        background: rgba(tint(purple-dark), 1);
        color: white;
      }
    }
  }
  section.title-archive {
    margin-bottom: gratio(6);
    h2 {
      font-size: gratio(5);
      color: white;
      span.marker {
        position: relative;
        z-index: 1;
        &:before {
          z-index: -1;
          content: "";
          width: 100%;
          position: absolute;
          display: inline-block;
          background: rgba(tint(purple-dark), 1);
          height: gratio(5);
        }
      }
    }
  }
  .container-first-posts {
    margin-bottom: gratio(
      7
    ); // stack two elements in first posts (form desktop views)
    @include respond-to(medium mega) {
      div.stack {
        @include inline-block(40%, top);
        .first-posts {
          &:nth-child(1),
          &:nth-child(2) {
            display: block;
            width: 100%;
            height: 7.28125rem;
          }
        }
      }
    }
    @include respond-to(mega) {
      div.stack {
        @include inline-block(40%, top);
        .first-posts {
          &:nth-child(1),
          &:nth-child(2) {
            display: block;
            width: 100%;
            height: 7.28125rem;
          }
        }
      }
    }
    section.first-posts {
      // responde to mobile
      @include respond-to(small medium) {
        @include inline-block(100%, top);
        height: gratio(8);
        margin-bottom: gratio(3); // &:first-child {
        //   margin-top: gratio(4);
        // }
        &:nth-child(3),
        &:nth-child(4) {
          margin-bottom: gratio(3);
        }
      } 
      // responde to desktop wide
      @include respond-to(medium mega) {
        &:nth-child(1) {
          @include inline-block(60%, top);
          position: relative;
        }
        &:nth-child(2) {
          @include inline-block(40%, top);
        }
        &:nth-child(3),
        &:nth-child(4) {
          @include inline-block(30%, top);
        }
      }
      // responde to desktop mega
      @include respond-to(mega) {
        &:nth-child(1) {
          @include inline-block(60%, top);
          position: relative;
        }
        &:nth-child(2) {
          @include inline-block(40%, top);
        }
        &:nth-child(3),
        &:nth-child(4) {
          @include inline-block(30%, top);
        }
      }
      height: gratio(9);
      margin-bottom: 0;
      position: relative;
      overflow: hidden;
      h1 {
        @include z-index(first-level);
        padding: gratio(3);
        position: relative;
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(black, 0.7) 100%
        );
        top: 0;
        left: 0;
        transition: 0.2s ease;
        &:hover {
          background-image: linear-gradient(
            -180deg,
            rgba(46, 201, 200, 0) 0%,
            rgba(tint(purple-dark), 0.9) 100%
          );
        }
        a {
          height: 100%;
          width: 100%;
          position: absolute;
          padding-right: 30%;
          bottom: gratio(3);
          span {
            @include textShadow();
            position: absolute;
            padding-right: 30%;
            bottom: 0;
            text-transform: uppercase;
            color: white;
            font-size: gratio(4);
            @include respond-to(small medium) {
              font-size: gratio(4);
            }
          }
        }
      }
      img {
        @include centerer-absolute(true, true);
        @include z-index(underground);
        width: 200%;
        height: auto;
        @include respond-to(small medium) {
          @include centerer-absolute(true, true);
          width: auto;
          height: auto;
        }
      }
    }
  }
  section.container-posts {
    @include inline-block(66.66%, top);
    section.post {
      width: 100%;
      position: relative;
      font-size: 0;
      border-bottom: 1px solid rgba(black, 0.1);
      margin-bottom: gratio(5);
      padding-bottom: gratio(5);
      &:nth-child(-n + 6) {
        display: none;
      }
      &:last-child {
        border-bottom: 0;
      }
      .featured-image {
        @include inline-block(30%, top);
        height: gratio(9);
        overflow: hidden;
        position: relative;
        text-align: center;
        img {
          width: auto;
          height: 100%;
        }
        @include respond-to(small medium) {
          display: none !important;
        }
      }
      .content {
        @include inline-block(70%, top);
        padding-left: gratio(5);
        h1 {
          font-size: gratio(3);
          text-transform: uppercase;
          margin-bottom: gratio(2);
          @include respond-to(small medium) {
            margin-bottom: 0;
          }
          a {
            color: black;
            display: block;
            transition: 0.1s ease;
            &:hover {
              color: tint(pomegranate);
            }
          }
        }
        .featured-image-mobile {
          display: none;
          @include respond-to(small medium) {
            width: 100%;
            display: inline-block;
            position: relative;
            overflow: hidden;
            height: gratio(9);
            margin: gratio(3) 0;
            img {
              height: auto;
              width: 100%;
            }
          }
        }
        @include respond-to(small medium) {
          padding: 0;
        }
        .excerpt {
          font-size: gratio(3);
          color: rgba(black, 0.6);
          margin-bottom: gratio(3);
        }
        .meta {
          font-size: 0;
          .author {
            font-size: gratio(3);
            margin-bottom: gratio(1);
            @include respond-to(small medium) {
              margin-bottom: gratio(3);
            }
          }
          .date-category {
            span {
              @include inline-block(30%, top);
              font-size: gratio(3);
              color: rgba(black, 0.6);
              text-transform: capitalize;
              @include respond-to(small medium) {
                width: 100%;
                display: block;
                margin-bottom: gratio(1);
              }
            }
            img {
              @include inline-block(gratio(4), top);
              opacity: 0.3;
            }
            .post-categories {
              @include inline-block(60%, top);
              li {
                padding-left: gratio(1);
                display: inline-block !important;
                a {
                  font-size: gratio(3);
                  color: rgba(black, 0.6);
                  &:after {
                    content: ", ";
                  }
                }
                &:last-child {
                  a {
                    &:after {
                      content: "";
                    }
                  }
                }
              }
              @include respond-to(small medium) {
                width: 90%;
                display: inline-block;
              }
            }
            @include respond-to(small medium) {
              width: 100%;
              display: inline-block;
            }
          }
        }
        .categories {
          a {
            font-size: gratio(3);
          }
        }
        @include respond-to(small medium) {
          position: relative;
          width: 100%;
        }
      }
    }
    @include respond-to(small medium) {
      width: 100%;
    }
  }
  section.pagination {
    span.divisor {
      display: inline-block;
      margin: 0 gratio(3);
    }
    .nav-previous {
      display: inline-block;
      &.alignright {
      }
      a {
        font-size: gratio(3);
        div.arrow-prev {
          @include button(rgba(black, 0.1), black);
          &:hover {
            background-color: rgba(black, 0.2);
          }
        }
      }
    }
    .nav-next {
      display: inline-block;
      &.alignleft {
      }
      a {
        font-size: gratio(3);
        div.arrow-next {
          @include button(rgba(black, 0.1), black);
          &:hover {
            background-color: rgba(black, 0.2);
          }
        }
      }
    }
  }
  @include respond-to(small medium) {
    margin-bottom: gratio(7) !important;
  }
}
