body.single-post {
  header {
    @include z-index(first-level);
    position: relative;
    .header-container {
      margin-bottom: 0;
      border-bottom: 0;
      background: rgba(white, 0.9);
    }
  }
  main.main-container {
    @include container(100%);
    margin-top: -75px;
    padding: 0;
    section.featured-image {
      height: gratio(11);
      position: relative;
      overflow: hidden;
      margin-bottom: gratio(5);
      img {
        width: 100%;
        height: auto;
        @include respond-to(small medium) {
          @include centerer-absolute(true, true);
          width: auto;
          height: 100%;
        }
      }
    }
    section.post {
      @include container(70%);
        margin-top: - gratio(7);
        position: relative;
      h1.post-title {
        @include container(80%);
        font-size: gratio(5);
        margin-bottom: gratio(5);
        background: white;
        width: auto;
        display: inline-block;
        padding: gratio(3) gratio(6) gratio(3) gratio(2);
      }
      .content {
        img {
          width: 100%;
          height: auto;
        }
        h1, h2, h3, h4, h5, h6 {
          @include container(80%);
          font-size: gratio(4);
          margin-top: gratio(7);
          margin-bottom: gratio(5);
        }
        p, ol, ul {
          @include container(70%);
          font-size: gratio(3);
          margin-bottom: gratio(5);
          &.paragraph-img {
            @include container(100%);
            margin-bottom: gratio(5);
          }
          @include respond-to(small medium) {
            @include container(100%);
            margin-bottom: gratio(3);
          }
        }
        ol, ul {
          list-style: inherit;
          padding-left: gratio(3);
          li {
            ul {
              margin-left: gratio(4);
              margin-bottom: 0;
              li {
                ul {
                  margin-left: gratio(4);
                  margin-bottom: 0;
                  li {

                  }
                }
              }
            }
          }
        }
        .category-list {
          @include container(70%);
          padding: gratio(7) 0 gratio(5);
          text-align: left;
            margin:0;
            font-size: 16px;
            //display: inline-block;
            .label-tags {
              background-color: rgba(color(grey-dark), 0.1);
              color: color(grey-dark);
              display: inline;
              margin: gratio(3) 0 0 0;
              padding: gratio(1) gratio(2);
              a {
                color: color(grey-dark);
              }
            }
        }
        /*.category-list {
            p.label-tags {
              display: inline-block;
              a{
                background-color: rgba(color(grey-dark), 0.1);
                padding: gratio(1) gratio(2);
                color: color(grey-dark);
              }
            }
          }*/
      }
      @include respond-to(small medium) {
        @include container(90%);
      }
    }
  }
}